<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.awis.waktusolat"
      android:versionCode="39"
      android:versionName="1.6.7">
    <uses-sdk android:minSdkVersion="8" 
        android:targetSdkVersion="15"/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" ></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" ></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application android:icon="@drawable/icon2" android:label="@string/app_name" >
        <activity android:name=".WaktuSolatNew"
                  android:label="@string/app_name"
                  android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QiblaActivity"
                  android:label="@string/app_name"
                  android:theme="@style/MainTheme"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Preferences"
                  android:label="Setting"
                  android:theme="@style/SettingTheme">
        </activity>
        <activity android:name=".Waktusolat"
                  android:label="@string/app_name">
        </activity>
        <service android:name=".UpdateWidgetService"></service>
        <receiver android:name="WidgetProvider" >
            <intent-filter >
                <action 
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name=".BootReceiver"> 
            	<intent-filter> 
            		<action android:name="android.intent.action.BOOT_COMPLETED" /> 
            	</intent-filter> 
            </receiver>
        <service android:name=".NotificationService"
            android:label="@string/app_name">
        </service> 
    </application>
</manifest>